<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ikey" value="" />
    <add key="skey" value="" />
    <add key="akey" value="" />
    <add key="host" value="" />
    <add key="port" value="8080" />
  </appSettings>
</configuration>